

.bigContainer{
    height: 100px;
    border-bottom: solid 1px lightgray;
}

.img-fluid{
    width: 25%;
    margin-right: 10%;
}


#bootstrap-overrides .nav-link
{
    text-align: center;
    font-size: 15px;
    display: inline-block;
    font-family: 'Roboto-Black', sans-serif;
    
    margin-left: 3px; margin-right: 3px;
    color:  #035a9b;
    height: 30px;
}



.navbar{
    width: 60%;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 0;
}

.btn{
    margin-top: 5px;
    border-radius: 3px;
}

@media only screen and (max-width: 1577px){
    .navbar{
        width: 75%;
    }
}

@media only screen and (max-width: 1356px){
    .navbar{
        width: 100%;
    }
}

@media only screen and (max-width: 991px){
    .bigContainer{
        height: 10%;
    }
    .navbar{
        justify-content: center;
    }
    .img-fluid{
        display: inline-block;
        width: 35%;
    }
    .navbar-toggler{
        display: inline-block;
    }
    .nav-item .dropdown{
        text-align: center;
        border: solid 3px pink;
    }
    

}

@font-face {
    font-family: "Roboto-Black";
    src: url('../fonts/Roboto/Roboto-Black.ttf');
  }